.background-image {
    background: url(/assets/img/bg.png) 0 0/100% 100% no-repeat !important;
    width: 100%;
    height: 100%;
}
.logo-row {
    width: 210px;
    margin: 0 auto;
}

.logo-home {
    margin-top: 1rem;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
}
.wel-text {
    font-size: 1.2em;
    width: 100%;
    color: #001965;
    font-weight: bold;
    font-style: 'Apis Regular' !important;
    text-align: center;
    text-transform: uppercase;
    bottom: 70%;
    position: absolute;
}
.btns-ctn {
    position: absolute;
    text-align: center;
    width: 96%;
    height: 65%;
    overflow-y: scroll;
    bottom: 2%;
    right: 2%;
    left: 2%;
    background: #001965;
    border-radius: 15px;
}
.background-transparent{
    --background: transparent;
}
ion-checkbox{
    margin-right: 10px;
}
ion-input{
    color: #fff;
    border-bottom: 1px solid var(--ion-color-primary);
}

.label-floating.sc-ion-label-ios-h, .label-floating.sc-ion-label-md-h {
    margin-left: 10px !important;
    color: #fff;
}
.button-starter{
    --border-radius: 30px;
  --color: var(--ion-color-primary);
  --font-weight: bold;

}
p{
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 22px 35px 1px 35px;
    text-transform: uppercase; 
}