<ion-tabs color="primary">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calculateur">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Calculateur</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="play"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="novaeight">
      <ion-icon name="document"></ion-icon>
      <ion-label>RCP</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>