ion-tab-bar,
ion-tab-button {
    background-color: #001965;
  
}

ion-icon, ion-label{ 
    color: #fff;
}
ion-tab-bar{
    --ion-color-primary: #fff;
}
ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: #99ca3c !important;
      --ion-color-base:#99ca3c !important;
    }
  }
