ion-tab-bar,
ion-tab-button {
    background-color: #99ca3c;
  
}

ion-icon, ion-label{ 
    color: #ffffff;
}
ion-tab-bar{
    --ion-color-primary: #fff;
}
ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: #3d5542ed !important;
      --ion-color-base:#3d5542ed !important;
    }
  }
