@font-face {
    font-family: "Apis Black";
    src: url("../assets/fonts/Apis-Black.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Black Italic";
    src: url("../assets/fonts/Apis-BlackItalic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Bold";
    src: url("../assets/fonts/Apis-Bold.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Bold Italic";
    src: url("../assets/fonts/Apis-BoldItalic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Extra Bold";
    src: url("../assets/fonts/Apis-ExtraBold.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Extra Bold Italic";
    src: url("../assets/fonts/Apis-ExtraBoldItalic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Italic";
    src: url("../assets/fonts/Apis-Italic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Light";
    src: url("../assets/fonts/Apis-Light.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Light Italic";
    src: url("../assets/fonts/Apis-LightItalic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Medium";
    src: url("../assets/fonts/Apis-Medium.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Medium Italic";
    src: url("../assets/fonts/Apis-MediumItalic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apis Regular";
    src: url("../assets/fonts/Apis-Regular.ttf");
    font-weight: 200;
    font-style: normal;
}
