<ion-content>
  <div class="container">

    <ion-item lines="none" class="close-fake ion-text-center">
      <ion-button (click)="closeModal()" fill="clear" color="novo" slot="end">
        <ion-icon name="close" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
    <h1>
      Demand de code<br>
      d'activation
    </h1>
  
  
    <div class="btns-ctn">
  
      <form [formGroup]="codeForm" class="ctn-controls ">
        <p>
          Vous avez déjà un compte?
          Vous souhaitez recevoir un nouveau
          code d’activation?
        </p>
     
        <ion-item class="background-transparent" lines="none">
          <ion-label position="floating" style="color: var(--ion-color-novo)">
            <ion-icon src="assets/icon/mail.svg"></ion-icon>
            Votre Email
          </ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-button class="button-starter" color="primary" (click)='closeModal()'>Recevoir un code
        </ion-button>
      </form>
    </div>
  </div>

</ion-content>