.container {
    overflow-y: scroll !important;
    height: 100%;
    width: 100%;
}

.btns-ctn {
    text-align: center;
    height: 52%;
}
h1 {
    color: var(--ion-color-novo);
    font-size: 19px;
    display: block;
    text-align: center;
    font-family: "APIS BOLD" !important;
}

.background-transparent {
    --background: transparent;
}

ion-input {
    color: var(--ion-color-novo);
    border-bottom: 1px solid var(--ion-color-novo);
}
.button-starter {
    --border-radius: 30px;
    --color: var(--ion-color-primary);
    --font-weight: bold;
    height: 30px;
    margin-top: 20px;
}
p {
    color: var(--ion-color-novo);
    font-size: 12px;
    margin: 0px 45px;
}

ion-icon {
    font-size: 1.4rem;
}
