$track-w: 12.5em;
$track-h: 4px;
$thumb-d: 1.1em;
@mixin track() {
    box-sizing: border-box;
    // border: none;
    // width: $track-w;
    height: $track-h;
    background: -webkit-linear-gradient(0deg, #cbeb8e 0%, #a3d14c 39%, #6da700 100%);
}

@mixin thumb() {
    margin-top: -0.5em;
    width: 20px;
    height: $thumb-d;
    background: #001965;
    clip-path: polygon(0 0, 70% 0, 100% 40%, 100% 60%, 70% 100%, 0 100%);
    transform: rotate(-90deg);
    border-radius: 7px;
}
input[type="range"] {
    &,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: auto;
    }
    position: relative;
    top: 50%;
    width: 326px;
    transform: translate(-35%, 190px) rotate(-90deg);
    background: transparent;
    font: 1em/1 arial, sans-serif;
    /* font: 1em/1 arial, sans-serif; */
    font: 1em/1 arial, sans-serif;
    &::-webkit-slider-runnable-track {
        @include track;
    }
    &::-moz-range-track {
        @include track;
    }
    &::-ms-track {
        @include track;
    }

    &::-webkit-slider-thumb {
        // margin-top: 0.5 * ($track-h - $thumb-d);
        @include thumb;
    }
    &::-moz-range-thumb {
        @include thumb;
    }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb;
    }

    &::-ms-tooltip {
        display: none;
    }
}

.left-container {
    // border: 1px solid red;
    float: left;
    width: 77%;
    height: 100%;
}
.right-container {
    // border: 1px solid blue;
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 2%;
}

.rangeWrap {
    width: 40%;
}

.rangeWrap .ticks {
    display: flex;
    justify-content: space-around;
    height: 6px;
    margin: 0 5px 0 6px;
    font: 10px Arial;
    transform: translate(-44%, 184px) rotate(270deg);
}
.rangeWrap .ticks > div {
    height: 10px;
    width: 1px;
    background: #a3d14c;
}

.ticks > div > div {
    transform: rotate(90deg);
    width: 21px;
}

.element-one {
    height: 38%;
    display: flex;
    text-align: center;
    color: #00005a;
    align-items: center;
    border-radius: 13px;
    margin: 2% 0 2% 2%;
    padding: 7%;
    box-shadow:-7px 6px 20px 11px #d5d5d742;;
    background: #fff;
}
.element-two {
    height: 28%;
    display: flex;
    text-align: center;
    color: #00005a;
    align-items: center;
    border-radius: 13px;
    margin: 2% 0 2% 2%;
    padding: 7%;
    box-shadow:-7px 6px 20px 11px #d5d5d742;;
    background: #fff;
}
.active-element {
    background: #001965;
    color: #fff;
    clip-path: polygon(100% 0, 100% 45%, 97% 50%, 100% 55%, 100% 100%, 1% 100%, 0 0);
}
.image-container {
    position: relative;
    text-align: center;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Apis Bold" !important;
}
.bottom-container {
    height: calc(30% - 70px);
    text-align: center;
}
.poids-container {
    width: 100%;
    padding: 12px;
    color: #001965;
    margin: 5% 0;
}
.text-kilo {
    width: 80%;
    float: left;
}
.poids-kilo {
    width: 20%;
    float: left;
    font-family: "Apis Bold" !important;
    border: 1px solid #99ca3c;
    text-align: center;
    box-shadow: inset 1px 2px 1px 0px #e3dede;
}
.button-starter {
    --border-radius: 30px;
    --font-weight: bold;
    height: 37px;
}
.injection-hemo {
    background: #001965;
    clip-path: polygon(0 20%, 0 0, 100% 0, 100% 100%, 0 99%, 0 80%, 1% 80%, 1% 20%);
    color: #fff;
    font-size: 12px;
    margin: 2% 5%;
    border-radius: 3px;
    padding: 1px 0;
}
.injection-hemo text {
    color: #99ca3c;
}
.injection-details-hemo {
    margin: 2% 5%;
    background: #fff;
    border-radius: 3px;
    box-shadow: -1px 0px 12px 1px #dcdcdcba;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #001965;
}
.injection-text-hemo {
    margin: 2% 5%;
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px 0px 12px 1px #dcdcdcba;
    color: #001965;
    font-size: 14px;
    text-align: justify;
    padding: 3%;
}
.first-one {
    color: #fff;
    background: #003d2b;
    margin: 0 3px;
}
.second-one {
    color: #fff;
    background: #e1261c;
    margin: 0 3px;
}
.third-one {
    color: #fff;
    background: #530740;
    margin: 0 3px;
}
ion-item ion-label{
    color: #001965;
    font-size: 12px;
    font-family: 'Apis Bold' !important;
    text-transform: uppercase;
    text-align: center;
}
