<ion-header>
  <ion-toolbar>
    <ion-title>Calculateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" color='primary'>
    <ion-segment-button value="hemoragie">
      <ion-label>Hémoragie</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chirurgie">
      <ion-label>Chirurgie</ion-label>
    </ion-segment-button>
    <ion-segment-button value="prophylaxie">
      <ion-label>Prophylaxie</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segment" style="height: 91%;">
    <div *ngSwitchCase="'hemoragie'" style="height: 100%;">
      <!--<div class="image-container">
        <img src="assets/img/hemorragie.png" alt="Hémoragie">
        <div class="image-text"> Hémoragie</div>
      </div>-->
      <div style="height: 70%; ">
        <div class="left-container">
          <div class="element-one" [class.active-element]="between(range,80,120)">Hémorragie mettant en jeu le pronostic
            vital</div>
          <div class="element-two" [class.active-element]="between(range,40,70)">Hémarthrose, hémorragie musculaire ou
            hématome plus étendus</div>
          <div class="element-two" [class.active-element]="between(range,10,30)" style="height: 25%;">Debut
            d'hémarthrose musculaire ou bucale</div>
        </div>
        <div #ranger class="right-container">
          <div class='rangeWrap'>
            <input #input (change)="change()" orient="vertical" name="foo" type="range" min="10" max="120" step="10"
              list="steplist" [(ngModel)]="range">
            <div class='ticks' #ticks>
              <div>
                <div style="color: #bbdb7e;">20</div>
              </div>
              <div>
                <div style="color: #bbdb7e;">30</div>
              </div>
              <div>
                <div style="color: #bbdb7e;">40</div>
              </div>
              <div>
                <div style="color: #99ca3c;">30</div>
              </div>
              <div>
                <div style="color: #99ca3c;">40</div>
              </div>
              <div>
                <div style="color: #99ca3c;">50</div>
              </div>
              <div>
                <div style="color: #99ca3c;">60</div>
              </div>
              <div>
                <div style="color: #314b02;">60</div>
              </div>
              <div>
                <div style="color: #314b02;">70</div>
              </div>
              <div>
                <div style="color: #314b02;">80</div>
              </div>
              <div>
                <div style="color: #314b02;">90</div>
              </div>
              <div>
                <div style="color: #4f7704;">100</div>
              </div>
            </div>
          </div>


        </div>

      </div>

      <div class="bottom-container">
        <div class="poids-container">
          <div class="text-kilo">Poids du patient(en kilogramme) </div>
          <div class="poids-kilo" (click)="openPicker($event)">{{weightHemo}} <ion-icon name="caret-down-outline"></ion-icon>

          </div>
        </div>
        <ion-button class="button-starter" color="primary" (click)="submitHemo()">Valider
        </ion-button>
     
      </div>
    </div>
    <div *ngSwitchCase="'chirurgie'">


    </div>
    <div *ngSwitchCase="'prophylaxie'">
      prophylaxie

    </div>
  </div>
</ion-content>