.bg {
    padding-bottom: 0 !important;
    background: url(/assets/img/login.png) 0 0/100% 100% no-repeat !important;
    height: -webkit-fill-available !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: center center !important;
}
.background-image {
    padding-bottom: 0 !important;
    background: url(/assets/img/login.png) 0 0/100% 100% no-repeat !important;
    height: -webkit-fill-available !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: center center !important;
}

.logo-row {
    background: #fff;
    height: 22%;
}
.sup {
    font-size: 10px;
    vertical-align: super;
}
.btns-ctn {
    position: absolute;
    text-align: center;
    width: 96%;
    height: 50%;
    bottom: 5%;
    right: 2%;
    left: 2%;

    border-radius: 15px;
}
.wel-tect {
    font-size: 1.2em;
    width: 100%;
    color: #fff;

    font-style: "Apis Regular" !important;
    text-align: center;
    text-transform: uppercase;
    bottom: 60%;
    position: absolute;
}

.button-starter {
    --border-radius: 30px;
    width: 40%;
}
.background-transparent {
    --background: transparent;
}
ion-input {
    input::placeholder {
        color: #fff !important;
        margin-left: 30px !important;
    }
    color: #fff;
    border-bottom: 1px solid #fff;
}

text {
    color: var(--ion-color-primary);
    text-decoration: underline;
}
