
.background-image {
    padding-bottom: 0 !important;
    background: url(/assets/img/login.png) 0 0/100% 100% no-repeat !important;
    height: -webkit-fill-available !important;
    width: 100% !important;
    //background-size: 100% !important;
    background-position: center center !important;
  position: relative;
}
.logo-row {
    background: #fff;
    height: 22%;
}
.wel-text {
    font-size: 1.2em;
    height: 24%  !important;
    color: #fff;
    font-style: "Apis Regular" !important;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.wel-text-child{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.code-text {
    color: var(--ion-color-novo);
    font-size: 12px;
    font-family: "Apis Regular";
    position: relative;
    text-align: center;
    height: 20%  !important;
}
.sup {
    font-size: 10px;
    vertical-align: super;
}
b{
    font-family: "Apis Bold";
}
.button-starter {
    --border-radius: 30px;
    width: 40%;
}
.background-transparent {
    --background: transparent;
}
ion-input {
    input::placeholder {
        color: #fff !important;
        margin-left: 30px !important;
    }
    ion-icon{
            margin-right: 10px;
    }
    color: #fff;
    border-bottom: 1px solid #fff;
}
.inner-scroll{
    height: 100% !important;
}


