<ion-header>
  <ion-toolbar>
    <ion-title>Contact </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Calcul8</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>Code d'activation du compte</ion-label>
      <ion-input type="text" placeholder="Code"></ion-input>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-footer>
      <ion-button > valider</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>