

<ion-content no-bounce>
  <div class="background-image">
    <div class="logo-row">
      <div class="logo-home"> CONTACT</div>
    </div>
    <div class="btns-ctn">
      <img src="assets/img/nordisk.png">
      <div class="info-subtitle">Novo Nordisk A/S</div>
      <div class="info-subtitle">Micro Zone d'acrivités lot N°32 Hydra, Alger </div>
      <div class="info-subtitle" style="color: #99ca3c;">Tél : <a href="tel:+213 (0)23531531">+213 (0)23531531 </a> </div>
     
      <div class="info-subtitle" style="color: #99ca3c;">Fax: <a ref="tel:+213 (0)23531430"> +213 (0)23531430 </a> </div>
      <div class="info-subtitle" ><a style="color: #fff;" href="https://www.novonordisk.dz" target="_blank"> www.novonordisk.dz </a> </div>
      <div class="info-subtitle" ><a style="color: #fff;" href="https://www.novonordiskpro.dz" target="_blank"> www.novonordiskpro.dz </a> </div>
    <br>
      <div class="info-subtitle">Coordonnées de mon délégué Novo Nordisk </div>
      <div class="info-subtitle">Mr xxxxxxxxxxxxxxx </div>
      <div class="info-subtitle"  style="color: #99ca3c;">Tél : <a href="tel:+213 xxxxxxx">xxxxxxxxxxxxxx </a> </div>
      <div class="info-subtitle"  style="color: #99ca3c; ">Email: <a href="mailto:contact@example.com">xxxxxx@novonordisk.com</a></div>

    </div>
    <br>
    <div class="ttns-ctn">

  <div class="info-subtitle">Pour déclarer les cas des pharmacovigilance, veuillez contacter </div>
  <div class="info-subtitle">Mobile pharmacovigilance : <a href="tel:+213 (0) 770 100 118">+213 (0) 770 100 118 </a> </div>

  <div class="info-subtitle">Fax: <a ref="tel:+213 (0)23531430"> +213 (0) 23 53 14 35 </a> </div>
  <div class="info-subtitle">Mail pharmacovigilance: <a href="mailto:algeriasafety@novonordisk.com">Algeriasafety@novonordisk.com</a></div>
  <div class="info-subtitle">Centre Natianal de pharmacovigilance et de matériovigilance CNPM</div>
  <div class="info-subtitle">SIS Route petit Staoueli (NIPA) Dely Ibrahim, Alger</div>
  <div class="info-subtitle">Tél/Fax: <a ref="tel:+213 (0)23531430"> +213 (0) 23 36 75 02 / +213 (0) 23 36 75 27/ +213 (0) 23 36 75 29 </a> </div>
  <div class="info-subtitle">Mail: <a href="mailto:cnpm@cnpm.org.dz">cnpm@cnpm.org.dz</a></div>
</div>

</div>

</ion-content>