/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-toolbar {
    --background: #001965;
    ion-title {
        color: #fff;
    }
}
ion-app.platform-ios12 ion-content {
    pointer-events: auto;
}
ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}

.native-input.sc-ion-input-md {
    margin-left: 10px;
}

.rs-control .rs-range-color {
    background-color: #a9acbd;
}
.rs-control .rs-path-color {
    background-color: #ffffff;
}
.rs-control .rs-handle {
    background-color: #92a2a8;
}
.rs-control .rs-bg-color {
    background-color: #ffffff;
}
.my-custom-modal-css .modal-wrapper {
    height: 60%;
    width: 80%;
    border-radius: 16px;
    position: absolute; 
    display: block;  
 }
 .inner-scroll{
     height: 100% !important;
 }